# ===== VARIABLES DE ENTORNO
.env
.env.local
.env.*.local

# ===== DATOS SENSIBLES 
blacklist.json

# ===== PYTHON 
*.py[cod]
*$py.class
__pycache__/
*.egg-info/
venv/
env/

# ===== IDE 
.vscode/
.idea/
*.swp
*.swo

# ===== OTROS 
*.log
.DS_Store